#gallery {
	width: 90%;
	margin-left: 5%;
	height: 100%;
	position: relative;	
}

#gallery article {
	box-sizing: border-box;
	font-size: 3rem;
	line-height: 100%;
	font-weight: bold;
	vertical-align: middle;
	padding: 2rem;
	border: 1px solid blue;
}

#gallery article:hover {
	background-color: #111 !important;
	border: 1rem solid gold;
	color: #f0f0f0;

}
